#  Local .terraform directories
terraform/.terraform
terraform/.terraform.lock.hcl
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Azure conf file
terraform/azurek8s

# Local .vscode directories
.vscode/*
